@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Calibre", sans-serif;
}
:root {
    --sun: #FFDB7B;
    --sky: #75BCFF;
    --clouds: aliceblue;
}
.night {
    --sun: #c5c5c5;
    --sky: #061a50;
    --clouds: #516eac;
}
nav {
    width: 100%;
    height: 9em;
    background: var(--sky);
    box-shadow: 0 0 5em var(--sky);
    position: absolute;
    z-index: 1;
    transition: 500ms;
}
.sun {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: var(--sun);
    box-shadow: 0 0 1.2em .12em var(--sun);
    position: absolute;
    left: -3em;
    top: -3em;
    cursor: pointer;
    transition: 500ms;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    padding-top: 11em;
    min-height: 100vh;
    background-image: linear-gradient(#5da3ff, #4583d3,#2e5691,#213363,#0d1930);
}
.bubble {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    width: 500px;
    aspect-ratio: 1 / 1;
    color: lightgrey;
    border-radius: 50%;
    border: 2px solid #3c5a99;
    box-shadow: inset 0 0 5em #3c5a99,
                1em 1em 2em #111f4480;
    transition: 500ms;
}
h1 {
    font-size: 40px;
    margin-bottom: .5em;
}
p {
    font-size: 20px;
}
h1, p {
    color: #dddddd;
    text-shadow: 1px 1px black;
}
