@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --one: #111111;
  --two: #222222;
  --three: #333333;
  --ice: rgba(240, 248, 255, 0.5);
}
body {
  color: var(--ice);
  background: var(--one);
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
a, h1, h2, h3 {
  font-size: 1em;
  color: var(--ice);
  transition: 300ms;
  letter-spacing: 2px;
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 .1em var(--ice);
  font-family: "Roboto Mono", monospace;
}
a:hover {
  color: aliceblue;
  text-shadow: 0 0 .1em aliceblue;
}
.canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  width: 450px;
  padding: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-top: calc(50px + 1em);
}
main {
  width: 700px;
  padding: 1em;
}
@media (min-width: 1150px) {
  header {
    top: 0;
    position: sticky;
    max-height: 100vh;
  }
  main {
    padding-top: calc(50px + 1em);
  }
}
@media (max-height: 625px) {
  header {
    justify-content: flex-start;
  }
}
/* Nav.jsx */
nav {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  position: fixed;
  align-items: center;
  background: var(--two);
  justify-content: center;
}
nav ul {
  display: flex;
  transition: 300ms;
}
nav a {
  padding: 1em;
}
@media (max-width: 500px) {
  nav {
    justify-content: flex-end;
  }
  nav ul {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    align-items: center;
    background: var(--two);
    flex-direction: column;
    justify-content: center;
  }
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
  nav a {
    margin: 1em;
    width: 200px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  nav a:hover {
    background: var(--three);
  }
  nav a::before, nav a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 300ms;
    border: 1px solid var(--ice);
    box-shadow: 0 0 .1em var(--ice), inset 0 0 .1em var(--ice);
  }
  nav a::before {
    transform: translate(-3px, -3px);
  }
  nav a::after {
    transform: translate(3px, 3px);
  }
  nav a:hover::before, nav a:hover::after {
    border-radius: .2em;
    transform: translate(0);
    border: 1px solid aliceblue;
    box-shadow: 0 0 .1em aliceblue, inset 0 0 .1em aliceblue;
  }
}
.hamburger {
  z-index: 1;
  margin: 1em;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  background: transparent;
}
.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 11px;
  height: 3px;
  width: 25px;
  transition: 300ms;
  border-radius: 1em;
  background: aliceblue;
}
.open::before {
  box-shadow: 0 -9px aliceblue;
}
.open::after {
  top: 20px;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
@media (min-width: 501px) {
  .hamburger {
    display: none;
  }
}
h1 {
  margin-bottom: 1em;
}
/* Polaroid.jsx */
.polaroid {
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--two);
}
.polaroid img {
  width: 100%;
  height: auto;
  background: radial-gradient(circle, var(--three), var(--two), var(--one), black);
}
.polaroid ul {
  display: flex;
  margin-top: 1em;
}
.polaroid li:first-child, .polaroid li:nth-child(2) {
  margin-right: .5em;
}
.polaroid a {
  padding: 1em;
  display: flex;
  color: var(--ice);
  transition: 300ms;
  background: var(--three);
  border: 1px solid transparent;
}
.polaroid a:hover {
  color: aliceblue;
  border-radius: .2em;
  border: 1px solid aliceblue;
  box-shadow: 0 0 .1em aliceblue, inset 0 0 .1em aliceblue;
}
.polaroid svg {
  width: 25px;
  height: 25px;
}
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  color: aliceblue;
  clip-path: inset(1px 1px);
}
section {
  margin-top: 1em;
  scroll-margin-top: 4em;
}
h2 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
h2::before, h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--ice);
}
h2::before {
  margin-right: 1em;
}
h2::after {
  margin-left: 1em;
}
.container {
  margin-top: 1em;
  border: 1px solid var(--two);
}
.container > * {
  padding: 1em;
}
#experience img {
  width: 100%;
  height: auto;
  padding: 1em;
  margin-top: 1em;
  background: var(--two);
}
h3 {
  padding: 1em;
  font-size: 1em;
  background: var(--two);
}
.stack {
  display: flex;
  flex-wrap: wrap;
  margin: 13px -3px -3px -3px;
}
.stack li {
  margin: 3px;
  font-size: 12px;
  padding: .5em 1em;
  border-radius: 2em;
  letter-spacing: 1px;
  background: var(--two);
  text-shadow: 0 0 .1em var(--ice);
}