@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #3165ff;
  --one: #111111;
  --two: #222222;
  --three: #333333;
  --aliceblue25: rgba(240, 248, 255, 0.25);
  --black75: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  border: 5px solid var(--two);
  background: var(--aliceblue25);
}
body::-webkit-scrollbar-thumb {
  border: 5px solid var(--one);
}
body::-webkit-scrollbar-track {
  background: var(--one);
}
main {
  display: flex;
  min-height: 100vh;
  color: aliceblue;
  background: var(--one);
  justify-content: center;
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: var(--blue);
  text-decoration: none;
}
.home {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stickynote {
  margin: 1em;
  max-width: 500px;
  position: relative;
  background: var(--two);
  box-shadow: 0 0 1em var(--black75);
}
.content {
  padding: 1em;
  height: 405.5px;
  overflow-y: auto;
  text-align: center;
}
.content img {
  width: 100%;
  margin-top: 1em;
  box-shadow: 0 0 1em var(--black75);
}
/* Nav.jsx */
nav ul {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  transition: 300ms;
  position: absolute;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(1em);
  border: 1px solid var(--blue);
  background: rgba(35, 90, 255, 0.2);
  box-shadow: 0 0 .2em var(--blue), inset 0 0 .2em var(--blue);
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
nav li {
  padding: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}
nav a {
  color: var(--blue);
  transition: 300ms;
}
.bar {
  display: flex;
  background: var(--three);
  justify-content: flex-end;
}
.hamburger {
  z-index: 1;
  margin: 1em;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  background: transparent;
}
.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 11px;
  height: 3px;
  width: 25px;
  transition: 300ms;
  border-radius: 1em;
  background: aliceblue;
}
.open::before {
  box-shadow: 0 -9px aliceblue;
}
.open::after {
  top: 20px;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
/* Polaroid.jsx */
.polaroid {
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--two);
  box-shadow: 0 0 1em var(--black75);
}
.polaroid img {
  width: 350px;
  background: radial-gradient(circle, var(--three), var(--two), var(--one), var(--black75));
}
@media (max-width: 500px) {
  .polaroid img {
    width: 80vw;
  }

}
.polaroid ul {
  display: flex;
}
.polaroid li {
  margin: 0 .25em;
  margin-top: 1em;
}
.polaroid a {
  padding: 1em;
  display: flex;
  transition: 300ms;
  background: var(--three);
  color: var(--aliceblue25);
  border: 1px solid transparent;
}
.polaroid a:hover {
  color: aliceblue;
  border: 1px solid var(--blue);
  background: rgba(35, 90, 255, 0.2);
  box-shadow: 0 0 .2em var(--blue), inset 0 0 .2em var(--blue);
}
.polaroid svg {
  width: 25px;
  height: 25px;
}
/* Logo.jsx */
.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  background: black;
  align-items: center;
  justify-content: center;
}
.logo {
  margin: 1.5em;
  position: relative;
}
.star {
  width: 100px;
  height: 100px;
  position: relative;
}
.star div {
  opacity: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: aliceblue;
  box-shadow: 0 0 1em aliceblue;
}
.star div:nth-child(1) {
  bottom: 0;
  left: 15px;
}
.star div:nth-child(2) {
  left: 0;
  top: 35px;
}
.star div:nth-child(3) {
  left: 45px;
}
.star div:nth-child(4) {
  right: 0;
  top: 35px;
}
.star div:nth-child(5) {
  bottom: 0;
  right: 15px;
}
.star + svg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}